requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.1.0
pandas==2.2.0
playwright==1.41.0
python-dotenv==1.0.1
fake-useragent==1.5.1

numpy==1.26.4
matplotlib==3.9.2 
seaborn==0.13.2
scikit-learn==1.5.2 
xgboost==2.1.1 
lightgbm==4.5.0 
statsmodels==0.14.4
scipy==1.14.1
pulp==2.9.0 
cvxpy==1.5.3 
ortools==9.11.4210 
simpy==4.1.1